# nginx proxy address - http://172.17.0.1:60188

name: glance
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  app:
    image: glanceapp/glance:latest
    container_name: glance-app
    domainname: ${BASE_DOMAIN_NAME:-}
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      MY_SECRET_TOKEN: ${APP_SECRET_KEY:-changeme_secret_token_min_32_chars}
    ports:
      - '172.17.0.1:60188:8080'
    volumes:
      - './rootfs/data/glance:/app/assets'
      - './rootfs/config/glance:/app/config'
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
    networks:
      - glance

networks:
  glance:
    name: glance
    external: false
